<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Silhouette: Efficient Protected Shadow Stacks for Embedded Systems.
			</span><br />
			<span class="authors">
				Jie Zhou, Yufei Du, Lele Ma, Zhuojia Shen, John Criswell, and Robert J. Walls.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. USENIX Security Symposium</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				DRAB-LOCUS: An Area-Efficient AES Architecture for Hardware Accelerator Co-Location on FPGAs.
			</span><br />
			<span class="authors">
				Jake Grycel and Robert J. Walls.
			</span><br />
			<span class="venuetype"></span><span class="venue">{IEEE International Symposium on Circuits and Systems}</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Control-Flow Integrity for Real-Time Embedded Systems.
			</span><br />
			<span class="authors">
				Robert J. Walls, Nicolas Brown, Thomas LeBaron, Bryan Ward, Craig A. Shue, and Hamed Okhravi.
			</span><br />
			<span class="venuetype"></span><span class="venue">Euromirco Conference on Real-Time Systems (ECRTS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Domain-Z: 28 Registrations Later.
			</span><br />
			<span class="authors">
				Chaz Lever, Robert J. Walls, Yacin Nadji, David Dagon, Patrick McDaniel, and Manos Antonakakis.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Symposium on Security and Privacy</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Measuring the Impact and Perception of Acceptable Advertisements.
			</span><br />
			<span class="authors">
				Robert J. Walls, Eric D. Kilmer, Nathaniel Lageman, and Patrick D. McDaniel.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the ACM 2015 Internet Measurement Conference (IMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Measurement and Analysis of Child Pornography Trafficking on P2P Networks.
			</span><br />
			<span class="authors">
				Ryan Hurley, Swagatika Prusty, Hamed Soroush, Robert J. Walls, Jeannie Albrecht, Emmanuel Cecchet, Brian Neil Levine, Marc Liberatore, Brian Lynn, and Janis Wolak.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. Intl. World Wide Web Conference (WWW)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Effective Digital Forensics Research is Investigator-Centric.
			</span><br />
			<span class="authors">
				Robert J. Walls, Brian Neil Levine, Marc Liberatore, and Clay Shields.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. USENIX Workshop on Hot Topics in Security (HotSec)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Forensic Triage for Mobile Phones with DEC0DE.
			</span><br />
			<span class="authors">
				Robert J. Walls, Erik Learned-Miller, and Brian Neil Levine.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. USENIX Security Symposium</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
