<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://rjwalls.github.io/papers/domain-z-ieee.pdf">Domain-Z: 28 Registrations Later</a>.
			</span><br />
			<span class="authors">
				Chaz Lever, Robert J. Walls, Yacin Nadji, David Dagon, Patrick McDaniel, and Manos Antonakakis.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Symposium on Security and Privacy</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://rjwalls.github.io/papers/walls15_issre.pdf">Discovering Specification Violations in Networked Software Systems</a>.
			</span><br />
			<span class="authors">
				Robert J. Walls, Yuriy Brun, Marc Liberatore, and Brian Neil Levine.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 26th IEEE International Symposium on Software Reliability Engineering (ISSRE)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://rjwalls.github.io/papers/walls15_imc.pdf">Measuring the Impact and Perception of Acceptable Advertisements</a>.
			</span><br />
			<span class="authors">
				Robert J. Walls, Eric D. Kilmer, Nathaniel Lageman, and Patrick D. McDaniel.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the ACM 2015 Internet Measurement Conference (IMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://rjwalls.github.io/papers/mcdaniel15_otan.pdf">Estimating Attack Intent and Mission Impact from Detection Signals</a>.
			</span><br />
			<span class="authors">
				Patrick McDaniel and Robert J. Walls.
			</span><br />
			<span class="venuetype"></span><span class="venue">Workshop on Cyber Attack Detection, Forensics and Attribution for Assessment of Mission Impact</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Enforcing Agile Access Control Policies in Relational Databases using Views.
			</span><br />
			<span class="authors">
				Nicolas Papernot, Patrick McDaniel, and Robert J. Walls.
			</span><br />
			<span class="venuetype"></span><span class="venue">Internatonal Conference for Military Communications (MILCOM)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Malware Traffic Detection using Tamper Resistant Features.
			</span><br />
			<span class="authors">
				Berkay Celik, Robert J. Walls, Patrick McDaniel, and Ananthram Swami.
			</span><br />
			<span class="venuetype"></span><span class="venue">Internatonal Conference for Military Communications (MILCOM)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://rjwalls.github.io/papers/oltramari15_milcom.pdf">Computational Ontology of Network Operations</a>.
			</span><br />
			<span class="authors">
				Alessandro Oltramari, Lorrie Cranor, Robert J. Walls, and Patrick McDaniel.
			</span><br />
			<span class="venuetype"></span><span class="venue">Internatonal Conference for Military Communications (MILCOM)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://rjwalls.github.io/papers/oltramari14_stids.pdf">Building an Ontology of Cyber Security</a>.
			</span><br />
			<span class="authors">
				Alessandro Oltramari, Lorrie Cranor, Robert J. Walls, and Patrick McDaniel.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. Intl. Conference on Semantic Technologies for Intelligence, Defense, and Security (STIDS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://forensics.umass.edu/pubs/varma.spsm.2014.pdf">Efficient Smart Phone Forensics Based on Relevance Feedback</a>.
			</span><br />
			<span class="authors">
				Saksham Varma, Robert J. Walls, Brian Lynn, and Brian Neil Levine.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. ACM Workshop on Security and Privacy in Smartphones and Mobile Devices</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://web.cs.umass.edu/publication/docs/2014/UM-CS-PhD-2014-011.pdf">Inference-based Forensics for Extracting Information from Diverse Sources</a>.
			</span><br />
			<span class="authors">
				Robert J. Walls.
			</span><br />
			<span class="venuetype">Ph.D. thesis, University of Massachusetts Amherst</span><span class="venue"></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://rjwalls.github.io/papers/mcdaniel14_mtd.pdf">Security and Science of Agility</a>.
			</span><br />
			<span class="authors">
				Patrick McDaniel, Trent Jaeger, Thomas F. La Porta, Nicolas Papernot, Robert J. Walls, Alexander Kott, Lisa Marvel, Ananthram Swami, Prasant Mohapatra, Srikanth V. Krishnamurthy, and Iulian Neamtiu.
			</span><br />
			<span class="venuetype"></span><span class="venue">First ACM Workshop on Moving Target Defense (MTD 2014)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://forensics.umass.edu/pubs/hurley.www.2013.pdf">Measurement and Analysis of Child Pornography Trafficking on P2P Networks</a>.
			</span><br />
			<span class="authors">
				Ryan Hurley, Swagatika Prusty, Hamed Soroush, Robert J. Walls, Jeannie Albrecht, Emmanuel Cecchet, Brian Neil Levine, Marc Liberatore, Brian Lynn, and Janis Wolak.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. Intl. World Wide Web Conference (WWW)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://forensics.umass.edu/pubs/walls.hotsec12.pdf">Functional Privacy or Why Cookies are Better with Milk</a>.
			</span><br />
			<span class="authors">
				Robert J. Walls, Shane S. Clark, and Brian Neil Levine.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. USENIX Workshop on Hot Topics in Security</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://forensics.umass.edu/pubs/Walls.hotsec.2011.pdf">Effective Digital Forensics Research is Investigator-Centric</a>.
			</span><br />
			<span class="authors">
				Robert J. Walls, Brian Neil Levine, Marc Liberatore, and Clay Shields.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. USENIX Workshop on Hot Topics in Security (HotSec)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://forensics.umass.edu/pubs/Walls.usenixSecurity.2011.pdf">Forensic Triage for Mobile Phones with DEC0DE</a>.
			</span><br />
			<span class="authors">
				Robert J. Walls, Erik Learned-Miller, and Brian Neil Levine.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. USENIX Security Symposium</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://www.sciencedirect.com/science/article/pii/S1389128610003580">Liquid: A detection-resistant covert timing channel based on IPD shaping</a>.
			</span><br />
			<span class="authors">
				Robert J. Walls, Kush Kothari, and Matthew Wright.
			</span><br />
			<span class="venuetype"></span><span class="venue">Computer Networks 55(6)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://forensics.umass.edu/pubs/tuttle.ares.2010.pdf">Reverse Engineering for Mobile Systems Forensics with Ares</a>.
			</span><br />
			<span class="authors">
				John Tuttle, Robert J. Walls, Erik Learned-Miller, and Brian Neil Levine.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. ACM Workshop on Insider Threats</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Liquid: A detection-resistant covert timing channel based on IPD shaping.
			</span><br />
			<span class="authors">
				Robert Walls.
			</span><br />
			<span class="venuetype">Master's thesis, The University of Texas at Arlington</span><span class="venue"></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
