<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://www.usenix.org/conference/usenixsecurity22/presentation/du">Holistic Control-Flow Protection on Real-Time Embedded Systems with Kage</a>.
			</span><br />
			<span class="authors">
				Yufei Du, Zhuojia Shen, Komail Dharsee, Jie Zhou, Robert J. Walls, and John Criswell.
			</span><br />
			<span class="venuetype"></span><span class="venue">31st USENIX Security Symposium (USENIX Security 22)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2110.00459">Characterizing Concurrency Mechanisms for NVIDIA GPUs under Deep Learning Workloads</a>.
			</span><br />
			<span class="authors">
				Guin R. Gilman and Robert J. Walls.
			</span><br />
			<span class="venuetype"></span><span class="venue">39th International Symposium on Computer Performance, Modeling, Measurements and Evaluation (Performance'21)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/pdf/2104.15109.pdf">Memory-Efficient Deep Learning Inference in Trusted Execution Environments</a>.
			</span><br />
			<span class="authors">
				Jean-Baptiste Truong, William Gallagher, Tian Guo, and Robert J. Walls.
			</span><br />
			<span class="venuetype"></span><span class="venue">9th IEEE International Conference on Cloud Engineering (IC2E)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/pdf/2011.14779.pdf">Data-Free Model Extraction</a>.
			</span><br />
			<span class="authors">
				Jean-Baptiste Truong, Pratyush Maini, Robert J. Walls, and Nicolas Papernot.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR 2021)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://www.usenix.org/conference/usenixsecurity20/presentation/zhou-jie">Silhouette: Efficient Protected Shadow Stacks for Embedded Systems</a>.
			</span><br />
			<span class="authors">
				Jie Zhou, Yufei Du, Lele Ma, Zhuojia Shen, John Criswell, and Robert J. Walls.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. USENIX Security Symposium</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://cake.wpi.edu/assets/papers/grycel20_drablocus.pdf">DRAB-LOCUS: An Area-Efficient AES Architecture for Hardware Accelerator Co-Location on FPGAs</a>.
			</span><br />
			<span class="authors">
				Jake Grycel and Robert J. Walls.
			</span><br />
			<span class="venuetype"></span><span class="venue">{IEEE International Symposium on Circuits and Systems}</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://cake.wpi.edu/assets/papers/gilman20_performance.pdf">Demystifying the Placement Policies of the NVIDIA GPU Thread Block Scheduler for Concurrent Kernels</a>.
			</span><br />
			<span class="authors">
				Guin R. Gilman and Robert J. Walls.
			</span><br />
			<span class="venuetype"></span><span class="venue">38th International Symposium on Computer Performance, Modeling, Measurements and Evaluation (Performance'20)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://drops.dagstuhl.de/opus/volltexte/2019/10739">Control-Flow Integrity for Real-Time Embedded Systems</a>.
			</span><br />
			<span class="authors">
				Robert J. Walls, Nicolas Brown, Thomas LeBaron, Bryan Ward, Craig A. Shue, and Hamed Okhravi.
			</span><br />
			<span class="venuetype"></span><span class="venue">Euromirco Conference on Real-Time Systems (ECRTS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ieeexplore.ieee.org/abstract/document/7546530">Domain-Z: 28 Registrations Later</a>.
			</span><br />
			<span class="authors">
				Chaz Lever, Robert J. Walls, Yacin Nadji, David Dagon, Patrick McDaniel, and Manos Antonakakis.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Symposium on Security and Privacy</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://dl.acm.org/doi/abs/10.1145/2815675.2815703">Measuring the Impact and Perception of Acceptable Advertisements</a>.
			</span><br />
			<span class="authors">
				Robert J. Walls, Eric D. Kilmer, Nathaniel Lageman, and Patrick D. McDaniel.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the ACM 2015 Internet Measurement Conference (IMC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Measurement and Analysis of Child Pornography Trafficking on P2P Networks.
			</span><br />
			<span class="authors">
				Ryan Hurley, Swagatika Prusty, Hamed Soroush, Robert J. Walls, Jeannie Albrecht, Emmanuel Cecchet, Brian Neil Levine, Marc Liberatore, Brian Lynn, and Janis Wolak.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. Intl. World Wide Web Conference (WWW)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Effective Digital Forensics Research is Investigator-Centric.
			</span><br />
			<span class="authors">
				Robert J. Walls, Brian Neil Levine, Marc Liberatore, and Clay Shields.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. USENIX Workshop on Hot Topics in Security (HotSec)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Forensic Triage for Mobile Phones with DEC0DE.
			</span><br />
			<span class="authors">
				Robert J. Walls, Erik Learned-Miller, and Brian Neil Levine.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proc. USENIX Security Symposium</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
