

<td>
<p>
<h3>Robert J. Walls</h3>
366 IST Building<br/>
University Park, PA 16802<br/>
<a href="mailto: rjwalls@cse.psu.edu">rjwalls@cse.psu.edu</a>
<br/>
<br/>
<a href="{{ site.base }}/papers/Robert_Walls_CV.pdf">CV</a><br/>
<a href="https://scholar.google.com/citations?user=7yHU8hMAAAAJ&amp;hl=en">Google Scholar</a> <br/>
<a href="https://github.com/rjwalls">Github</a></br>
</p>
</td>
<td>
<img align="right" src="{{ site.base }}/img/walls-sm.jpg" style="border-radius: 15px;
box-shadow: 5px 8px 10px #e0e0e0">
<br/><br/>

</td>
